@model PMS_App.Models.Employee_Model
@using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { id = "EmployeeForm", enctype = "multipart/form-data" }))
{
    <div>
        @Html.Partial("_CreateOrUpdate",Model);
    </div>
    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }

}
